{% extends "admindivisions/base.html" %}

{% block content %}
{% load static %}


<div id="map">
</div>

<div id="list-view" class="justify-content-center">
    <p class="title-list-view">Explorer les données</p>
    <ul id="div-list" class="container mx-auto" style="list-style-type:none;">

    </ul>
</div>

<div id="list-wrapper" class="list-wrapper"></div>
</div>

<div id="legend-wrapper" class="legend-wrapper">
    <div id="geocoder" class="geocoder"></div>

    <button class="btn-legend" value="legend-wrapper" onclick="openCloseLegend(this.value)"><img src="{% static 'Vector1.png' %}" /></button>
    <div id="legend-box" class="legend-box"></div>
</div>


<div class="regions-wrapper" id="regions-wrapper"> 
    <div class="row">
        <button class="btn btn-regions-wrapper" value="regions-wrapper" onclick="openCloseRegionsWrapper(this.value)">RÉGIONS D'OUTRE-MER<span><img style="margin-left:10px" src="{% static 'arrow.png' %}" /></span></button>
    </div>
    <div class="row region-row">
        <div class="col p-0 text-center">
            <button class="region-btn" value="Guadeloupe" onclick="goToRegion(this.value)">Guadeloupe<span><img src="{% static 'Guadeloupe.png' %}" /></span></button>
        </div>
        <div class="col p-0 text-center">
            <button class="region-btn" value="Guyane" onclick="goToRegion(this.value)">Guyane<span><img src="{% static 'Guyane.png' %}" /></span></button>
        </div>
        <div class="col p-0 text-center">
            <button class="region-btn" value="La Réunion" onclick="goToRegion(this.value)">La Réunion<span><img src="{% static 'La Réunion.png' %}" /></span></button>
        </div>
        <div class="col p-0 text-center">
            <button class="region-btn" value="Martinique" onclick="goToRegion(this.value)">Martinique<span><img src="{% static 'Martinique.png' %}" /></span></button>
        </div>
        <div class="col p-0 text-center">
            <button class="region-btn" value="Mayotte" onclick="goToRegion(this.value)">Mayotte<span><img src="{% static 'Mayotte.png' %}" /></span></button>
        </div>
    </div>
</div>

<div class="wrapper">

    <nav id="sidebar">
        <ul class="list-unstyled components text-center">
            <li><button value="equipement-menu" onclick="openNav(this.value)" class="sidebutton"><span class="sidebuttonimg"><img alt="Offre et lieux culturels" src="{% static 'equipements.png' %}" style="margin-top:30px;"/></span>
                <span class="sidebuttoninfo"><img alt="Offre et lieux culturels" src="{% static 'equipements1.png' %}" /><span class ='sidebuttontxt'>Offre et lieux culturels</span></span>
            </button></li>

            <li><button value="politiques-menu" onclick="openNav(this.value)" class="sidebutton"><span class="sidebuttonimg"><img alt="Politiques publiques culturelles" src="{% static 'politiques.png' %}" style="margin-top:30px"/></span>
                <span class="sidebuttoninfo"><img alt="Politiques publiques culturelles" src="{% static 'politiques1.png' %}" /><span class ='sidebuttontxt'>Politiques publiques culturelles</span></span>
            </button></li>

            <li><button value="depenses-menu" onclick="openNav(this.value)" class="sidebutton"><span class="sidebuttonimg"><img alt="Dépénses publiques culturelles" src="{% static 'depenses.png' %}" style="margin-top:30px"/></span>
                <span class="sidebuttoninfo"><img alt="Dépenses publiques culturelles" src="{% static 'depenses1.png' %}" /><span class ='sidebuttontxt'>Dépenses publiques culturelles</span></span>
            </button></li>

            <li><button value="entreprises-menu" onclick="openNav(this.value)" class="sidebutton"><span class="sidebuttonimg"><img alt="Entreprises et emploi culturels" src="{% static 'entreprises.png' %}" style="margin-top:30px"/></span>
                <span class="sidebuttoninfo"><img alt="Entreprises et emploi culturels" src="{% static 'entreprises1.png' %}" /><span class ='sidebuttontxt'>Entreprises et emploi culturels</span></span>
            </button></li>

            <li><button value="contexte-menu" onclick="openNav(this.value)" class="sidebutton"><span class="sidebuttonimg"><img alt="Données de contexte" src="{% static 'contexte.png' %}" style="margin-top:30px"/></span>
                <span class="sidebuttoninfo"><img alt="Données de contexte" src="{% static 'contexte1.png' %}" /><span class ='sidebuttontxt'>Données de contexte</span></span>
            </button></li>
        </ul>
    </nav>

    <div id="equipement-menu" class="submenu">
        <button href="javascript:void(0)" value="equipement-menu" class="closebtn" onclick="closeNav(this.value)"></button>
        <p class="title">Offre et lieux culturels</p>
        <div class="item">
            {% for domaine in domaines%}
                <button class="btn-submenu" value="{{ domaine.name }}" onclick="openSubmenuNav(this.value)">{{ domaine.name }}</button>
            {% endfor %}
        </div>
    </div>

    {% for domaine in domaines%}
    <div id="{{ domaine.name }}" class="submenu">
        <button href="javascript:void(0)" value="{{ domaine.name }}" class="closebtn" onclick="closeNav(this.value)"></button>
        <p class="title">Offre et lieux culturels</p>
        <button href="javascript:void(0)" value="{{ domaine.name }}" class="domaine-title" onclick="closeNav(this.value)">{{ domaine.name }}</button>
        <div class="item">
            {% if domaine.sousdomaine_set.all|length > 0 %}
                {% for sousdomaine in domaine.sousdomaine_set.all%}
                <p class="sousdomaine-title">{{ sousdomaine.name }}</p>
                    {% for equipement_type in sousdomaine.equipementtype_set.all %}
                        <button class="btn-tag btn-tag-eq" id="{{ equipement_type.pk }}" value="{{ equipement_type.pk }}" data-name="{{ equipement_type.name }}" >{{ equipement_type.name }}</button>
                    {% endfor %}
                {% endfor %}
            {% endif%}
            {% if domaine.name == "Festivals" %}
                <button class="btn-tag btn-tag-var" id="Festivals" value="Festivals" data-name="Festivals">Festivals</button>
            {% else %}
            {% for equipement_type in domaine.equipementtype_set.all %}
                <button class="btn-tag btn-tag-eq" id="{{ equipement_type.pk }}" value="{{ equipement_type.pk }}" data-name="{{ equipement_type.name }}" >{{ equipement_type.name }}</button>
            {% endfor %}
            {% endif%}
        </div>
    </div>
    {% endfor %}

    <div id="politiques-menu" class="submenu">
        <button href="javascript:void(0)" value="politiques-menu" class="closebtn" onclick="closeNav(this.value)"></button>
        <p class="title">Politiques culturelles territoriales</p>
        <div class="item">
            <button class="btn-tag btn-tag-var" id="Contrats territoire lecture" value="Contrats territoire lecture" data-name="Contrats territoire lecture" >Contrats territoire lecture</button>
        </div>
    </div>

    <div id="depenses-menu" class="submenu">
        <button href="javascript:void(0)" value="depenses-menu" class="closebtn" onclick="closeNav(this.value)"></button>
        <p class="title">Dépenses culturelles publiques</p>
        <div class="item">
            <p class="sousdomaine-title">Dépenses des collectivités territoriales</p>
            <button class="btn-tag btn-tag-var" id="Dépenses culturelles des régions" value="Dépenses culturelles des régions" data-name="Dépenses culturelles des régions" >Dépenses culturelles des régions</button>
            <button class="btn-tag btn-tag-var" id="Dépenses culturelles des départements" value="Dépenses culturelles des départements" data-name="Dépenses culturelles des départements" >Dépenses culturelles des départements</button>
            <button class="btn-tag btn-tag-var" id="Dépenses culturelles des intercommunalités" value="Dépenses culturelles des intercommunalités" data-name="Dépenses culturelles des intercommunalités" >Dépenses culturelles des intercommunalités</button>
            <button class="btn-tag btn-tag-var" id="Dépenses culturelles des communes" value="Dépenses culturelles des communes" data-name="Dépenses culturelles des communes" >Dépenses culturelles des communes</button>
            <p class="sousdomaine-title">Dépenses de l'État</p>
            <button class="btn-tag" id="Plan de relance" value="Plan de relance" data-name="Plan de relance" >Plan de relance</button>     
            <button class="btn-tag btn-tag-var" id="Dépenses du ministère de la Culture" value="Dépenses du ministère de la Culture" data-name="Dépenses du ministère de la Culture" >Dépenses du ministère de la Culture</button>
        </div>
    </div>

    <div id="entreprises-menu" class="submenu">
        <button href="javascript:void(0)" value="entreprises-menu" class="closebtn" onclick="closeNav(this.value)"></button>
        <p class="title">Entreprises et emploi culturels</p>
        <div class="item">
            <p class="sousdomaine-title">Entreprises</p>
            <button class="btn-tag btn-tag-var" id="Entreprises culturelles du secteur marchand" value="Entreprises culturelles du secteur marchand" data-name="Entreprises culturelles du secteur marchand" >Entreprises culturelles du secteur marchand</button>
            <button class="btn-tag btn-tag-var" id="Salariés actifs des secteurs culturels marchands" value="Salariés actifs des secteurs culturels marchands" data-name="Salariés actifs des secteurs culturels marchands" >Salariés actifs des secteurs culturels marchands</button>
            <p class="sousdomaine-title">Emploi</p>
            <button class="btn-tag btn-tag-var" id="Actifs exerçant une profession culturelle" value="Actifs exerçant une profession culturelle" data-name="Actifs exerçant une profession culturelle" >Actifs exerçant une profession culturelle</button>
            <button class="btn-tag btn-tag-var" id="Actifs dans les secteurs culturels" value="Actifs dans les secteurs culturels" data-name="Actifs dans les secteurs culturels" >Actifs dans les secteurs culturels</button>
            </div>
    </div>

    <div id="contexte-menu" class="submenu">
        <button href="javascript:void(0)" value="contexte-menu" class="closebtn" onclick="closeNav(this.value)"></button>
        <p class="title">Données de contexte</p>
        <div class="item">
            <p class="sousdomaine-title">Population</p>
            <button class="btn-tag btn-tag-var" id="Population" value="Population" data-name="Population" >Population</button>
            <button class="btn-tag btn-tag-var" id="Indice de jeunesse" value="Indice de jeunesse" data-name="Indice de jeunesse" >Indice de jeunesse</button>
            <button class="btn-tag btn-tag-var" id="Densité de la population" value="Densité de la population" data-name="Densité de la population" >Densité de la population</button>
            <button class="btn-tag btn-tag-var" id="Évolution de la population" value="Évolution de la population" data-name="Évolution de la population" >Évolution de la population</button>
            <p class="sousdomaine-title" style="display: none;">Structure de la population par âge</p>
            <p class="sousdomaine-title">Niveaux de vie et redistribution</p>
            <button class="btn-tag btn-tag-var" id="Niveau de vie médian" value="Niveau de vie médian" data-name="Niveau de vie médian" >Niveau de vie médian</button>
            <button class="btn-tag btn-tag-var" id="Taux de pauvreté" value="Taux de pauvreté" data-name="Taux de pauvreté" >Taux de pauvreté</button>
            <p class="sousdomaine-title">Politiques publiques</p>
            <button class="btn-tag btn-tag-var" id="Action coeur de ville" value="Action coeur de ville" data-name="Action coeur de ville" >Action coeur de ville</button>
            <button class="btn-tag btn-tag-var" id="Quartiers prioritaires de la politique de la ville" value="Quartiers prioritaires de la politique de la ville" data-name="Quartiers prioritaires de la politique de la ville" >Quartiers prioritaires de la politique de la ville</button>
            <p class="sousdomaine-title">Zonage d'études</p>
            <button class="btn-tag btn-tag-var" id="Grille communale de densité" value="Grille communale de densité" data-name="Grille communale de densité" >Grille communale de densité</button>
            <button class="btn-tag btn-tag-var" id="Aires d'attraction des villes" value="Aires d'attraction des villes" data-name="Aires d'attraction des villes" >Aires d'attraction des villes</button>
            <button class="btn-tag btn-tag-var" id="Catégories du rural et de l’urbain" value="Catégories du rural et de l’urbain" data-name="Catégories du rural et de l’urbain" >Catégories du rural et de l’urbain</button>
        </div>
    </div>
</div>

<button type="button" class="btn btn-download-map" id="myBtn" style="display: block">
    <img src="{% static 'download-icon.png' %}" />Télécharger
</button>

<button type="button" class="btn btn-list-view" id="myBtn" style="display: block" onclick="openViewList()">Vue liste
</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Télécharger</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          Données
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
          <!--<button type="button" class="btn btn-primary">Télécharger</button>-->
        </div>
      </div>
    </div>
  </div>

<!-- <div dataset="{% static 'icones/theatre-rouge.png' %}" id='testing'></div> -->

<div data-variables="{{ data_variables }}" id='data-variables'></div>

<div data-variables-rich="{{ data_variables_rich }}" id="data-variables-rich"></div>
<div data-equipement-type-rich="{{ data_equipement_type_rich }}" id="data-equipement-type-rich"></div>

{% for domaine in domaines %}
  {% for equipement_type in domaine.equipementtype_set.all %}

   <div
    data-equipement-type="{{ equipement_type }}"
    data-equipement-type-pk="{{ equipement_type.pk }}"
    data-equipement-type-name="{{ equipement_type.name }}"
    data-equipement-type-definition="{{ equipement_type.definition}}"
    data-equipement-type-source="{{ equipement_type.source }}"
    data-equipement-type-year="{{ equipement_type.year }}"
    data-equipement-type-pk-url="{% url 'equipements' equipement_type.pk %}"
    data-img="{% static 'star-of-life-solid_bleu-vert-fonce.png' %}"

    class='datas-equipements-types'></div>
    </div>


  {% endfor %}
{% endfor %}

<div data-url-export-equipements-csv="{% url 'export_equipements_csv' %}" id='url-export-equipement-csv'></div>
<div data-url-export-variable-csv="{% url 'export_variable_csv' %}" id='url-export-variable-csv'></div>

<div data-url-list-equipements="{% url 'list_equipements' %}" id='url-list-equipements'></div>
<div data-url-list-variables="{% url 'list_variables' %}" id='url-list-variables'></div>





<script src="{% static 'index-bundle.js' %}"></script>
<script src="{% static 'contexte.js' %}"></script>




 {% endblock content %}
