@import url("/static/css/components/beta.css");
@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-ExtraBold.woff");
    src:url("/static/css/fonts/Marianne-ExtraBold.otf");
    font-weight:800;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Bold.woff");
    src:url("/static/css/fonts/Marianne-Bold.otf");
    src:url("/static/css/fonts/Marianne-Bold.woff2");
    font-weight:700;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Medium.woff");
    src:url("/static/css/fonts/Marianne-Medium.otf");
    src:url("/static/css/fonts/Marianne-Medium.woff2");
    font-weight:500;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Regular.woff");
    src:url("/static/css/fonts/Marianne-Regular.otf");
    src:url("/static/css/fonts/Marianne-Regular.woff2");
    font-weight:400;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Light.woff");
    src:url("/static/css/fonts/Marianne-Light.otf");
    src:url("/static/css/fonts/Marianne-Light.woff2");
    font-weight:300;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Thin.woff");
    src:url("/static/css/fonts/Marianne-Thin.otf");
    src:url("/static/css/fonts/Marianne-Thin.woff2");
    font-weight:200;

}

.main-logo {
    height:489px;
    margin-left:200px;
}


.form-box {
    width: 380px;
    height: 60px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
}

.title {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #150091;
    line-height: 55px;
}

.title2 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.text {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:24px;
    color: #150091;
}

.text2 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:22px;
    color: #FFFFFF;
}

.subtitle {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #150091;
    line-height:22px;
}

.subtitle2 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height:33px;
}

.subtitle3 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000074;
}

.subtitle4 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height:28px;
}

.subtitle5 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000074;
    line-height:38px;
}

.pp {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height:24px;
    text-align:"justify";
    text-justify: inter-word;
}

p {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height:33px;
    color: #150091;
}

a {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #150091;
}

.logo {
    height:70px;
    margin-right:10px;
}


nav .navbar-nav li a{
    color: #150091 !important;
    font-weight: 500;
    margin-right: 20px;
}

nav .navbar-nav li a:hover{
    text-decoration: underline;
}

nav .navbar-nav .active a{
    color: #FE8D7D !important;
}

a.link-footer {
    font-size: 12px !important;
    line-height:18px !important;;
    font-weight: 400 !important;;
}

a:link {
    font-size: 16px;
    text-decoration: none;
    color: #150091;
    font-weight: 700;
}

a.b1 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #150091;
}

.b2 {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #383838;
}

.orange {
    color: #FF6F4C;
}

.f {
    width: 90%;
}

.c1 {
    width: 54%;

}

.c3 {
    margin-bottom: 20px;
}

.c2 {
    margin-bottom: 20px;
}

.f1 {
    border-top: 1px solid #C0C0FF;
    width: 90%;
}

.f2 {
    text-align-last:end;
}

.container-80 {
    width: 80%;
}

.container-img {
    height:auto;
    background-image: url('/static/ATLAS_banner 1.png');
    background-size:cover;
}

.btn-accueil {
    background-image: url('/static/Btn-Accueil.png');
    width: 212px;
}
.selector {
    margin-top: 40px;
    border-radius: 30px;
    height: 60px;
    width: 331px;
}

.main-title {
    margin-top: 50px;
}

.main-container {
    margin-top: 60px;
    min-height:636px;
    background-image: url('/static/ATLAS_Map.png');
    background-size:cover;
}

.btn-selector {
    height: 60px;
    background: #150091;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.btn-selector:hover {
    background: #FFB1A7;
    color: #000074;
}

.btn-download {
    height: 60px;
    background: #150091;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
}

.btn-download:hover {
    background: #FEB1A8;
    color: #150091;
}

.btn-base {
    height: 60px;
    width: 150px;
    background: #150091;
    border-radius: 30px;
    border: none;
    color: white !important;
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.btn-base:hover {
    background: #FFB1A7;
    color: #000074 !important;
}

.btn-link:link {
    color: white;
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}

.btn-link:link:hover {
    color: #150091;
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.btn-blue {
    width: 151px;
    height: 60px;
    background: #150091;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }

.vertical-align {
    display: flex;
    align-items: center;
}

.n {
    width: 90%;
}

.navbar {
    margin-top: 0.5em;
    border-bottom: 1px solid rgba(21,0,145,0.2);
}

.logof {
    height:150px;
}

.vl {
    border-left: 4px solid #FF6F4C;
    height: 185px;
    margin-top: 10px;
  }

.c {
    border: 1px solid #CECECE;;
    height: 16px;
    width: 0;
}

li{
    margin-top: 10px;
}

ul {
    padding-left: 1rem;
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}


.btn1 {
    background-color: #00AC8C;
    color: #000000;
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 266px;
}

 .btn1:hover{
    background-color: #8ACDB0;
    color: #000000;
}

input::placeholder {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

.r1 {
    margin-left:10%;
}

.img-fr {
    width: 474px;
}

@media (max-width: 800px) {
    .title {font-size:20px;
        line-height: 25px;}
    .subtitle2 {font-size:20px;}
    .subtitle5 {font-size:20px;}
    .subtitle4 {font-size:18px;}
    .pp {font-size:16px;}
    .b1 {font-size:14px;}
    a.b1 {font-size:14px;}
    .b2 {font-size:14px;}
    .subtitle2 {font-size:20px;}
    .vl {display: none;}
    .p1 {font-size:14px;}
    .narrow {display: none;}
    .logof { height:78px;}
    .f2 {text-align-last:start; }
    .c3 {margin-bottom: 40px; }
    .c1 {width: 80%;}
    .r1 { margin-left:5%;}
    .logo {height: 30px;}
    .main-logo {height:200px;
        margin-left:0;}
    .selector {width: auto;}
    .container-img {height: 500;}
    .img-fr {width: 180px;}
  }

  .round-input {
    border-radius: 30px;
    width: 380px;
    height: 60px;
  }

.collapsible {
    background-color: white;
    color: #000074;
    cursor: pointer;
    padding: 18px;
    width: 275px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: normal;
}

.active, .collapsible:hover {
    font-weight: bold;
}

.collapsible:after {
    content: '\002B';
    color: #000074;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}