{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}

<div class="container c1">


    <h1 class="title text-center py-5 px-0">Accessibilité</h1>

    <p class="pp">
    Ce site a été conçu pour être accessible. Il respecte les critères d'accessibilité du Référentiel Général d'Accessibilité pour les Administrations (RGAA) niveau AA.</p>
        
    <p class="subtitle5 mt-4">Navigation dans le site</p>
        
        
    <p class="pp"> La navigation sur le site se fait au travers de la touche Tabulation :
    <br> - Un appui sur Tabulation permet de sélectionner le lien suivant sur la page.
    <br> - Un appui sur Majuscule + Tabulation permet de sélectionner le lien précédent sur  la page.
    <br><br>
    Une fois un lien sélectionné, il suffit de presser la touche Entrée pour l’ouvrir.
    <br><br>
    À l’arrivée sur une page, un appui sur la touche Tabulation affiche un menu en haut de page qui permet d’accéder directement à une zone de la page :
    <br> - la navigation
    <br> - le contenu
    <br> - le champ de recherche
    <br><br>
    Les touches Flèche Haut / Flèche Bas et Page Précédente / Page Suivante permettent de monter ou descendre sur la page.
   
    </p>
    <p class="subtitle5 mt-4"> Grossissement / Diminution de la taille du texte</p>

    <p class="mb-5 pp">La taille de texte sur les articles peut être augmentée ou diminuée simplement en cliquant sur les boutons dédiés.
    <br>
    <br>
    <br></p>

</div>

{% endblock content %}
