{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Atlas Culture des territoires : Visualiser les dynamiques culturelles en France">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32.png' %}"/>


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid n px-0">
        <a class="navbar-brand" href="{% url 'homepage' %}">
          <img alt="Logo Ministère de la Culture" src="{% static 'Logo.png' %}" style="height:70px; margin-right:10px"/>
        </a>
        <div class="navbar-brand justify-content-start">
          <a href="{% url 'homepage' %}" class="b1" style="line-height:24px;">
            Atlas Culture des territoires
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage' %}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'map' %}">Carte interactive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portraits' %}">Fiches portraits culturels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
<!--         <div class="banner-beta">
          Beta
        </div> -->
      </div>

  </nav>


    <main role="main">
        {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                  {% block content %}{% endblock %}
      </main>

      <div class="container py-5 f">
        <div class="row px-0">
            <div class="col-md-3 px-0">
                <img alt="Logo Ministère de la Culture" src="{% static 'Logo.png' %}" class="logof" />
            </div>
            <div class="col-md-9 px-0" >
                <div class="row" >
                <p class="my-3 p1" style="line-height:24px;">L’Atlas Culture des territoires est réalisé par le département des études, de la prospective, des statistiques et de la documentation du ministère de la Culture et lauréat du programme <a href="https://entrepreneur-interet-general.etalab.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">Entrepreneurs d'intérêt général</a>. Les données et textes de ce site sont sous licence etalab-2.0 et le <a href="https://github.com/liviaribeiro/atlasculture" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">code source</a> en licence libre.
                </p>
                </div>
                    <a href="https://www.culture.gouv.fr/" class="me-5" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">culture.gouv.fr</a>
                    <a href="https://etalab.gouv.fr/" class="me-5" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">etalab.gouv.fr</a>
                    <a href="https://data.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">data.gouv.fr</a>
                </div>
        </div>
    </div>

      <div class="container f1 py-3">
        <div class="row">
           <div class="col-md-8">
               <div class="row">
                    <div class="col-auto mb-3">
                        <a class="link-footer" href="{% url 'accessibilite' %}">Accessibilité : conforme</a>
                    </div>
                    <div class="col-auto mb-3">
                        <a class="link-footer" href="{% url 'legal' %}">Mentions légales</a>
                    </div>
                    <div class="col-auto mb-3">
                        <a class="link-footer" href="{% url 'privacy' %}">Données personnelles</a>
                    </div>
                    <div class="col-auto mb-3">
                        <a class="link-footer" href="#">Plan du site</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="f2" style="font-size: 12px; color:#000074">&copy; Ministère de la Culture 2021</p>
            </div>
        </div>
    </div>
</body>
</html>
