{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}

<div class="container text-center c1 mb-5">


    <h1 class="title text-center py-5 px-0">Contact</h1>

    <p class="pp">
        L’équipe Atlas Culture est à votre écoute pour améliorer la version beta de ce site !
        
        
    <p class="pp">Vous pouvez nous contacter en utilisant l’adresse électronique <a href="mailto:atlasculture@culture.gouv.fr">atlasculture@culture.gouv.fr</a></p>

</div>
{% endblock content %}