{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}


        <div class="container-fluid mt-4"  style="min-height:636px;background-image: url('{% static 'ATLAS_Map.png' %}');background-size:cover;">
            <div class="row">
                <div class="col">
                    <img alt="Atlas culture des territoires" src="{% static 'ATLAS_MainTitle.png' %}" style="height:489px; margin-left:200px;"/>
                </div>
                <div class="col text-center">
                    <p class="title">Comprendre<br>les dynamiques<br>culturelles</p>
                    <p class="subtitle">Bienvenue sur la ressource dédiée aux données publiques de la culture, de la région à la commune</p>
                    <a href="{% url 'map' %}">
                        <img alt="Explorer carte interactive" src="{% static 'Btn-Accueil.png' %}" width="180px">
                     </a>
                </div>
            </div>
        </div>

        <div class="container-fluid"  style="min-height:305px;background-image: url('{% static 'ATLAS_banner 1.png' %}');background-size:cover;">
            <div class="container p-5 text-center">
                <p class="title2">Portraits culturels : régions et France entière</p>
                <p class="text2">Des analyses pour éclairer les données de l'atlas</p>
            </div>
        </div>

        <div class="container p-5 text-center">
            <p class="title">L'Atlas Culture des territoires</p>
            <p class="subtitle">Une initiative du ministère de la Culture pour partager<br>la connaissance de la vie culturelle en France</p>
            <a href="{% url 'about' %}" class="btn btn-primary">En savoir plus</a>
        </div>

        <div class="container p-5">
            <!-- Example row of columns -->
            <div class="row px-5">
              <div class="col-lg-4 text-center" >
                    <img alt="Image écran" src="{% static 'ATLAS_Chiffre-Regions 1.png' %}" style="height:110px;"/>
                    <div>
                        <p class="subtitle text-center pt-4" style="font-weight:500;">18 portraits culturels de région et des ressources pour aller plus loin.</p>
                    </div>
              </div>
              <div class="col-lg-4 text-center">
                <img alt="Image livre" src="{% static 'ATLAS_Chiffre-Variables 1.png' %}" style="height:110px;"/>
                <div>
                <p class="subtitle text-center pt-4" style="font-weight:500;">Plus de 100 variables issues de sources fiables.</p>
                <p class="text">Lieux et offre culturelle
                    <br>Politiques culturelles territoriales
                    <br>Dépenses publiques culturelles
                    <br>Entreprises et emploi culturels
                    <br>Contexte socio-économique
                </p>              
                </div>
             </div>
              <div class="col-lg-4 text-center" >
                <img alt="Image base de données"src="{% static 'ATLAS_Chiffre-Modalites 1.png' %}" style="height:110px;"/>
                <div>
                <p class="subtitle text-center pt-4" style="font-weight:500;">3 modalités de visualisation des données.</p>
                <p class="text">Une carte interactive
                <br>Une vue liste
                <br>Bientôt, des graphiques interactifs
                </p>
            </div>
            </div>
            </div>
        </div>


        <div class="container py-5 f">
            <div class="row px-0">
                <div class="col-md-6 px-0">
                    <img alt="Logo Ministère de la Culture" src="{% static 'Logo.png' %}" class="logof" />
                </div>
                <div class="col-md-6 px-0" >
                    <div class="row" >
                    <p class="my-3 p1" style="line-height:24px;">L’Atlas Culture des territoires est un projet lauréat du programme 
                        Entrepreneurs d’intérêt général, porté par le Département des études, 
                        de la prospective et des statistiques du ministère de la Culture (Deps).
                    </p>
                    </div>
                        <div class="row">
                            <div class="col mb-3">
                                <a href="https://www.culture.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">culture.gouv.fr</a>
                            </div>
                            <div class="col mb-3">
                                <a href="https://etalab.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">etalab.gouv.fr</a>
                            </div>
                            <div class="col mb-3">
                                <a href="https://data.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">data.gouv.fr</a>
                            </div>
                        </div>
                    </div>
            </div>
       
    </div>
        
    {% endblock content %}
