{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}


        <div class="container-fluid main-container">
            <div class="row">
                <div class="col-md text-center">
                    <img class="main-logo" alt="Atlas culture des territoires" src="{% static 'ATLAS_MainTitle.png' %}"/>
                </div>
                <div class="col-md text-center d-flex justify-content-center">
                    <div style="max-width: 390px;">
                    <p class="title main-title">Comprendre les dynamiques culturelles</p>
                    <p class="subtitle main-subtitle">Bienvenue sur la ressource dédiée aux données publiques de la culture, de la région à la commune</p>
                    <a href="{% url 'map' %}">
                        <img alt="Explorer carte interactive" src="{% static 'Btn-Accueil.png' %}" onmouseover="this.src='{% static "Btn-Accueil-rose.png" %}'" 
                        onmouseout="this.src='{% static "Btn-Accueil.png" %}'" width="212px">
                     </a>
                     </div>
                </div>
            </div>
        </div>

        <div class="container-fluid container-img">
            <div class="container p-5 text-center">
                <p class="title2">Portraits culturels des régions</p>
                <p class="text2">Un portrait de chaque région mobilisant des données géographiques, économiques et sociales pour décrire les territoires, ainsi que des données culturelles (offre, dépenses publiques, emploi et entreprises).</p>
                <form action="" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                    <select class="selector" name="selected_region" id="selected_region">
                    <option class="text-selector" value="00" selected="selected" style="display:none;">Choissez une région</option>
                    <option value="00">- France -</option>
                        {% for region in regions %}
                        <option value="{{region.codeinsee}}">
                            {{region.name}}
                        </option>
                        {% endfor %}
                    </select>

                    <button class="btn-selector" type="submit" value="Select">Lire la fiche</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container p-5 text-center">
            <p class="title">L'Atlas Culture des territoires</p>
            <p class="subtitle">Une initiative du ministère de la Culture pour partager<br>la connaissance de la vie culturelle en France</p>
            <a class='btn btn-download d-inline-flex align-items-center btn-link' href="{% url 'about' %}" >En savoir plus</a>
        </div>

        <div class="container p-4">
            <!-- Example row of columns -->
            <div class="row px-5">
              <div class="col-lg-4">
                <div class="text-center">
                    <img alt="Image écran" src="{% static 'ATLAS_Chiffre-Regions 1.png' %}" style="height:110px;"/>
                </div>
                <div class="text-left">
                    <p class="subtitle py-3 text-center" style="font-weight:500;">18 portraits culturels de région</p>
                    <p class="text">
                        Un portrait de chaque région mobilisant des données géographiques, économiques et sociales pour décrire les territoires, ainsi que des données culturelles (offre, dépenses publiques, emploi et entreprises).
                    </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="text-center">
                    <img alt="Image livre" src="{% static 'ATLAS_Chiffre-Variables 1.png' %}" style="height:110px;"/>
                </div>
                <div class="text-center">
                    <p class="subtitle py-3 text-center" style="font-weight:500;">Plus de 100 variables issues de sources fiables</p>
                    <p class="text">Lieux et offre culturelle
                        <br>Politiques culturelles territoriales
                        <br>Dépenses publiques culturelles
                        <br>Entreprises et emploi culturels
                        <br>Contexte socio-économique
                    </p>              
                </div>
             </div>
              <div class="col-lg-4">
                <div class="text-center">
                    <img alt="Image base de données"src="{% static 'ATLAS_Chiffre-Modalites 1.png' %}" style="height:110px;"/>
                </div>
                <div class="text-center">
                    <p class="subtitle text-center py-3" style="font-weight:500;">3 modalités de visualisation des données</p>
                    <p class="text px-2">Une carte interactive
                    <br>Une vue liste
                    <br>Bientôt, des graphiques interactifs
                    </p>
                </div>
            </div>
            </div>
        </div>

        <div class="container-fluid p-5 container-img">
            <div class="row mx-auto container-80">
                <div class="col">
                    <p class="title2">Vous utilisez cet atlas numérique régulièrement ?</p>
                    <p class="text2">Rejoignez notre communauté pour suivre les actualités de l’outil et participer à nos événements autour de la cartographie et de la valorisation des données publiques.</p>
                </div>
                <div class="col text-cente d-flex justify-content-center">
                    <form method="POST">
                        {% csrf_token %}       
                        <div class="row d-flex justify-content-center pt-4" style="max-width: 290px;">
                            <div class="form-group align-center ">
                                {{form.email}}
                                <button type="submit" name="subscribers" style="width: 266px; min-height:40px; margin-top: 20px;" class="btn btn-selector" >S'inscrire à la liste de diffusion</button>
                        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
        
    {% endblock content %}
