{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body>
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid justify-content-md-start p-0">
          <a class="navbar-brand" href="#">
            <img src="{% static 'image 4.png' %}" style="height:78px; margin-left:140px;"/></a>
            <a class="navbar-brand" href="#">
                <img src="{% static 'Group 46.png' %}" style="height:52px; margin-left:20px"/></a>
        </div>
      </nav>

    <main role="main">

        <div class="container-fluid pt-5"  style=" height:360px;background-image: url('{% static 'image 6.png' %}');background-size:cover;">
            <div class="container text-center">
              <h1 class="title">Visualiser les politiques culturelles en France</h1>
            </div>
            <div class="container text-left pt-3 px-0 container-subtitle" >
              <p><span class="subtitle">Dès juin 2021, un atlas en ligne</span>
              <br><span class="subtitle2">pour outiller les acteurs de la culture
                  <br>et partager la connaissance de la vie culturelle
                  <br>à toutes et à tous<span></p>
            </div>
            </div>
        </div>

        <div class="container p-5">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4 text-center" >
                        <img src="{% static 'image 9.png' %}" style="height:78px;"/>
                <p class="subtitle2 text-center" style="height:99px"><span style="font-weight:bold;">Cartographie et datavisualisations</span> 
                    <br> interactives avancées</p>
              </div>
              <div class="col-md-4 text-center">
                <img src="{% static 'Group 30.png' %}" style="height:78px;"/>
                <p class="subtitle2 text-center" style="height:99px"><span style="font-weight:bold;">Analyses</span> des <br>tendances à l’échelon <br>régional et national</p>              
              </div>
              <div class="col-md-4 text-center">
                <img src="{% static 'Rectangle 130.png' %}" style="height:78px;"/>
                <p class="subtitle2 text-center" style="height:99px"><span style="font-weight:bold;">Données consolidées</span> par<br> le service statistique du <br> ministère de la Culture </p>
              </div>
            </div>
        </div>


        <div class="container-fluid p-5" style="background-color: #466964;">
            <div class="container text-center">
                <h1 class="title2">Suivre les actualités de l’Atlas Culture des territoires </h1>
              </div>
             
                <div class="row justify-content-center pt-5">
                    <div class="col-4" style="width: 290px;">
                    <input type="password"  style="width: 273px; height:40px;" id="email" placeholder=" Courriel">
                </div>
                <div class="col-4" style="width: 290px;">
                    <button type="submit" style="width: 273px; height:40px;" class="btn btn1" >S'inscrire à la liste de diffusion</button>
                </div>
                </div>
           
        </div>

        <div class="container p-5">
            <!-- Example row of columns -->
            <div class="row" style="margin-left:10%;">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-auto">
                            <p class="subtitle3">Avant</p>
                            <p class="parag">Une publication <br>de 249 pages</p>
                            <img src="{% static 'image 13.png' %}" style="height:130px;"/>
                        </div>
                        <div class="col-md-4">
                            <img class="narrow" src="{% static '64797 1.png' %}" style="height:100px;"/>
                        </div>
                    </div>
              
                </div>
              <div class="col-md-5">
                <p class="subtitle3">Dès juin 2021 </p>
                <ul>
                    <li class="parag">Des données enrichies et plus fines</li>
                    <li class="parag">La possibilité de croiser et comparer</li>
                    <li class="parag">Un travail éditorial pour éclairer les chiffres</li>
                    <li class="parag">L'intégralité des données sur data.gouv.fr</li>
                    <li class="parag">Un outil accessible, simple d'usage</li>
                </ul>
                              
              </div>
              <div class="col-md-auto vl"></div>
              <div class="col-md-auto">
                <p class="subtitle3 orange">En ce moment </p>
                <p class="parag">Nous travaillons sur la production 
                    <br>statistique, le prototypage et les 
                    <br>tests auprès des utilisateurs. 
                    <br><br>N’hésitez pas à nous communiquer 
                    <br>votre courriel pour en savoir plus ! 
                </p>
            </div>
            </div>
        </div>

        <div class="container py-4 f">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'image 4.png' %}" style="height:150px;"/>
                </div>
                <div class="col-md-6" >
                    <div class="row" >
                    <p class="parag my-3">L’Atlas Culture des territoires est un projet lauréat du programme 
                        Entrepreneurs d’intérêt général, porté par le Département des études, 
                        de la prospective et des statistiques du ministère de la Culture (Deps).
                    </p>
                    </div>
                        <div class="row">
                            <div class="col">
                                <p class="parag" style="font-weight: 700;">culture.gouv.fr</p>
                            </div>
                            <div class="col">
                                <p class="parag" style="font-weight: 700;">etalab.gouv.fr</p>
                            </div>
                            <div class="col">
                                <p class="parag" style="font-weight: 700;">data.gouv.fr</p>
                            </div>
                        </div>
                    </div>
            </div>
       
    </div>
        
    </main>

    <footer class="container">
        <p>&copy; Company 2017-2020</p>
      </footer>

    </body>
    </html>