{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}


        <div class="container-fluid pt-5"  style="min-height:360px;background-image: url('{% static 'image 6.jpg' %}');background-size:cover;">
            <div class="container text-center">
              <h1 class="title">Visualiser les dynamiques culturelles</h1>
            </div>
            <div class="container text-left p-4 container-subtitle">
              <p><span class="subtitle">Dès juin 2021, un atlas en ligne</span>
              <br><span class="subtitle2">pour outiller les acteurs de la culture
                  et partager la connaissance de la vie culturelle
                  à toutes et à tous<span></p>
            </div>
            </div>
        </div>

        <div class="container p-5">
            <!-- Example row of columns -->
            <div class="row px-5">
              <div class="col-lg-4 text-center c2" >
                    <img alt="Image écran" src="{% static 'image 9.png' %}" style="height:80px;"/>
                    <div style="margin: 0 auto;text-align: center; max-width: 266px;">
                        <p class="subtitle4 text-center" ><span style="font-weight:500;">Cartographies et datavisualisations</span> 
                        <br> interactives avancées</p>
                    </div>
              </div>
              <div class="col-lg-4 text-center c2">
                <img alt="Image livre" src="{% static 'Group 30.png' %}" style="height:80px;"/>
                <div style="margin: 0 auto;text-align: center; max-width: 266px;">
                <p class="subtitle4 text-center" style="min-height:84px;"><span style="font-weight:500;">Analyses</span> des tendances pour les régions et la France</p>              
                </div>
             </div>
              <div class="col-lg-4 text-center c2" >
                <img alt="Image base de données"src="{% static 'Rectangle 130.png' %}" style="height:80px;"/>
                <div style="margin: 0 auto;text-align: center; max-width: 266px;">
                <p class="subtitle4 text-center" style="min-height:84px;"><span style="font-weight:500;">Données consolidées</span> par le service statistique du ministère de la Culture </p>
            </div>
            </div>
            </div>
        </div>


        <div class="container-fluid p-5" style="background-color: #466964;">

            <form method="POST">
                {% csrf_token %}
                <div class="container text-center">
                    <h1 class="title2">Suivre les actualités de l’Atlas Culture des territoires </h1>
                </div>
                
                <div class="row justify-content-center pt-5">
                    <div class="col-md-4" style="max-width: 290px;">
                        {{form.email}}
                    </div>
                    <div class="col-md-4 text-center" style="max-width: 290px;">
                        <button type="submit" style="width: 266px; min-height:40px; " class="btn btn1" >S'inscrire à la liste de diffusion</button>
                    </div>
                </div>
            </form>
           
        </div>

        <div class="container px-md-5 py-5">
            <!-- Example row of columns -->
            <div class="row r1">
                <div class="col-md-3 c3">
                    <div class="row">
                        <div class="col-auto">
                            <p class="subtitle3">Avant</p>
                            <p style="line-height:24px;">Une publication <br>de 249 pages</p>
                            <img alt="Image atlas papier" src="{% static 'image 13.jpg' %}" style="height:130px;"/>
                        </div>
                        <div class="col-md-4 narrow">
                            <img alt="Image flèche" src="{% static '64797 1.png' %}" style="height:100px;"/>
                        </div>
                    </div>
              
                </div>
                <div class="col-md-5 c3">
                    <p class="subtitle3">Dès juin 2021 </p>
                        <ul>
                            <li>Des données enrichies et plus fines</li>
                            <li>La possibilité de croiser et de comparer</li>
                            <li>Un travail d'analyse des données pour éclairer les chiffres</li>
                            <li>L'intégralité des données sur data.gouv.fr</li>
                            <li>Un outil accessible, simple d'usage</li>
                        </ul>
                                
                </div>
                <div class="col-md-auto vl c3"></div>
                <div class="col-md-auto">
                    <p class="subtitle3 orange">En ce moment </p>
                    <p style="line-height:24px;">Nous travaillons sur la production 
                        <br>statistique, le prototypage et les 
                        <br>tests auprès des utilisateurs. 
                        <br><br>N’hésitez pas à nous communiquer 
                        <br>votre courriel pour en savoir plus ! 
                    </p>
                </div>
            </div>
        </div>

        <div class="container py-5 f">
            <div class="row px-0">
                <div class="col-md-6 px-0">
                    <img alt="Logo Ministère de la Culture" src="{% static 'image 4.png' %}" class="logof" />
                </div>
                <div class="col-md-6 px-0" >
                    <div class="row" >
                    <p class="my-3 p1" style="line-height:24px;">L’Atlas Culture des territoires est un projet lauréat du programme 
                        Entrepreneurs d’intérêt général, porté par le Département des études, 
                        de la prospective et des statistiques du ministère de la Culture (Deps).
                    </p>
                    </div>
                        <div class="row">
                            <div class="col mb-3">
                                <a href="https://www.culture.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">culture.gouv.fr</a>
                            </div>
                            <div class="col mb-3">
                                <a href="https://etalab.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">etalab.gouv.fr</a>
                            </div>
                            <div class="col mb-3">
                                <a href="https://data.gouv.fr/" target="_blank" rel="noopener noreferrer" style="font-weight: 700;">data.gouv.fr</a>
                            </div>
                        </div>
                    </div>
            </div>
       
    </div>
        
    {% endblock content %}
