{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}

<div class="container c1">


    <h1 class="title text-center py-5 px-0">Mentions légales</h1>

    <p class="subtitle5">Éditeur</p>
          
    <p class="pp">Ce site est édité par le Deps, ministère de la Culture.</p>

    <p class="subtitle5 mt-4">Nous joindre</p>
    <p class="pp"> Par courriel : contact.deps@culture.gouv.fr</p>

    <p class="subtitle5 mt-4">Direction de la publication</p>
    <p class="pp">
    Ministère de la Culture
    <br>Département des études, de la prospective et des statistiques
    <br>182 rue Saint-Honoré
    <br>75001 Paris</p>
    
    <p class="subtitle5 mt-4">Hébergement</p>
    <p class="pp">
        Le site atlasculture.fr est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311). Le stockage des données personnelles des utilisateurs est exclusivement réalisé sur les centres de données de la société Amazon Inc, dont le siège social est situé 10 Terry Avenue North, Seattle, WA. Tous les clusters Amazon sur lesquels les données du site sont stockées sont localisés dans l'Union européenne.</p>

    <p class="subtitle5 mt-4">Crédits</p>
    <p class="pp">
        - Image de la page d’accueil : Mapbox
        <br>- Icônes de la page d’accueil : Flaticon
        <br>
    <br>
    <br></p>

</div>

{% endblock content %}
