{% extends "subscribers/base.html" %}

{% block content %}
{% load static %}

<div class="container c1">

    <h1 class="title text-center py-5 px-0">Données personnelles </h1>

    <p class="subtitle5">La protection des données personnelles au sein du Ministère de la culture</p>
        
        
    <p align="justify" class="pp"> L’adoption par l’Union européenne du règlement 2016/79 relatif à la protection des personnes physiques 
        à l’égard du traitement des données personnelles et à la libre circulation de ces données (RGPD) fixe un nouveau cadre 
        pour la protection des données personnelles, en renforçant celui issu de la loi de 1978 modifiée relative à 
        l’informatique, aux fichiers et aux libertés (dite loi CNIL).
        <br><br>
        En particulier, le texte renforce les droits pour les personnes concernées par des traitements de données à caractère
        personnel: droits à l’information, d’accès, d’obtenir copie des données et d’opposition, dès lors qu’une personne a
        retiré son consentement au traitement de ces données.
        <br><br>
        Le RGDP consacre également de nouveaux droits : droit à l’oubli (effacement général des données collectées), 
        droit à la portabilité des données.
        <br><br>
        Enfin, le RGPD impose un principe de transparence, en obligeant tout responsable de traitement à fournir une information
        concise, claire, compréhensible et aisément accessible sur les principales caractéristiques du traitement des données.

    </p>
    
    <p class="subtitle5 mt-4">Exercer vos droits</p>

    <p align="justify" class="pp">Pour toute information ou exercice de vos droits (droit d’accès, de rectification ou d’effacement, 
        droit à la limitation du traitement, droit à la portabilité des données et droit d’opposition) sur les traitements 
        de données personnelles gérés par le site culture.gouv.fr et les services du ministère de la culture et de la 
        communication, vous pouvez contacter notre délégué à la protection des données (DPD) via le formulaire
    <br><br>
    Contacter le délégué à la protection des données (DPD) par courrier :
    <br>Ministère de la culture
    <br>À l'attention du délégué à la protection des données (DPD)
    <br>182 rue Saint Honoré
    <br>75001 Paris
    <br><br>
    Vous disposez également du droit d'introduire une réclamation auprès de l'autorité de contrôle compétente (CNIL) 
    si vous considérez que le site culture.gouv.fr n'a pas respecté vos droits.
    <br>En savoir plus sur vos droits :  CNIL - Droits de la personne
    <br>
    <br>
    <br></p>

</div>

{% endblock content %}
