@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-ExtraBold.woff");
    src:url("/static/css/fonts/Marianne-ExtraBold.otf");
    font-weight:800;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Bold.woff");
    src:url("/static/css/fonts/Marianne-Bold.otf");
    src:url("/static/css/fonts/Marianne-Bold.woff2");
    font-weight:700;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Medium.woff");
    src:url("/static/css/fonts/Marianne-Medium.otf");
    src:url("/static/css/fonts/Marianne-Medium.woff2");
    font-weight:500;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Regular.woff");
    src:url("/static/css/fonts/Marianne-Regular.otf");
    src:url("/static/css/fonts/Marianne-Regular.woff2");
    font-weight:400;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Light.woff");
    src:url("/static/css/fonts/Marianne-Light.otf");
    src:url("/static/css/fonts/Marianne-Light.woff2");
    font-weight:300;
}

@font-face {
    font-family: "Marianne";
    src:url("/static/css/fonts/Marianne-Thin.woff");
    src:url("/static/css/fonts/Marianne-Thin.otf");
    src:url("/static/css/fonts/Marianne-Thin.woff2");
    font-weight:200;
  
}

.wrapper {
    display: flex;
    align-items: stretch;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    z-index: 10;
    top: 56px;
    min-height: 100vh;
}

.legend-wrapper {
    display: flex;
    align-items: stretch;
    position: fixed;
    right: 0;
    margin-right: 0;
    z-index: 5;
    width: 257px;
    display: block;
    overflow-y:auto;
    top: 56px;
    bottom: 0;
    background-color: transparent;
}

.divnav {
    width: 90%;
}

.navcarto {
    height: 56px;
}

@media (max-width: 768px) {  
    .navcarto { height: 96px;}
    .wrapper {top: 96px;}
    .legend-wrapper {top: 96px;
        background-color: #fff;
        width: 30px;}
    .divnav {width: 100%;}
    .submenu {top: 96px !important;}
    .btn-legend {display: block !important;}
    .title-legend-box {display: block !important;}
    .infobtn {width: 5px; height: 5px;}
    .closebtn {background-size: 10px 10px !important;}
}

.title-legend-box {
    display: none;
}

.title-legend {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000074;
}

.link-legend {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #5770BE;
    line-height:28px;
}

.legend-content {
    position: absolute;
    top: 10;
    left: 30px;
}

.legend-box {
    position: absolute;
    z-index: 10;
    width: 227px;
    display: block;
    background-color: transparent;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.legend {
    position: relative;
    right: 0;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    z-index: 10;
    width: 227px;
    height:fit-content;
    border-radius: 20px;
}

.col-legend-title {
    width: 163px;
    align-items: flex-start;
}

.popup .mapbox-popup {
    z-index: 20;
}

.legend-key {
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-right: 5px;
}

.legend-circle {
    border-radius: 50%;
}

.legend-value {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding-bottom: 3px;
}

#sidebar {
    background: #fff;
    width: 63px;
    min-height: 100vh;
    z-index: 10;
    position: relative; 
}


.sidebutton {
    border: none;
    background: none;
    z-index: 50;
    position: relative; 
}

.sidebutton .sidebuttoninfo{
    display: none;
    z-index: 50;
}

@media only screen and (min-width: 768px) {
    .sidebutton:hover .sidebuttonimg{
        display: none;
    }

    .sidebutton:hover .sidebuttoninfo{
        z-index: 20;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px; 
        position: relative;   
        width: 300px;
        height: 50px;
        border: 1px solid #C0C0FF;
        box-sizing: border-box;
        border-radius: 90px;
        margin-top:30px
    }
}

.sidebuttontxt {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000074;
    flex: none;
    order: 1;
    margin: 0px 20px;
}

.submenu {
    width: 0;
    position: fixed;
    z-index: 5;
    top: 56px; 
    bottom: 0; 
    left: 63px; 
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.submenu .title {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #5770BE;
    right: 25px;
    margin-left: 30px;
    margin-top: 20px;
}

.submenu .subtitle {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FF6F4C;
    right: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 14px;
    height: 14px;
    background: url('/static/close.png');
    background-size: cover;  
    background-repeat: no-repeat;
}

.btn-legend {
    position: absolute;
    border: none;
    width: 20px;
    height: 100vh;
    background: url('/static/Vector1.png');
    background-size: cover;
    left:0; 
    display: none; 
}

.infobtn {
    position: absolute;
    top: 10px;
    right: 39px;
    border: none;
    width: 14px;
    height: 14px;
    background: url('/static/info.png');
    background-size: cover;  
}

.item {
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
}

.submenu .btn-tag {
    background: #FFFFFF;
    border: 1px solid #C0C0FF;
    box-sizing: border-box;
    border-radius: 33px;
    font-family: 'Marianne', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding:5px;
    margin-left: 5px;
    margin-bottom: 8px;
    color: #150091;
    overflow-wrap: break-word; 
    white-space: normal;

}
.submenu .btn-tag.active {
    background: #150091;
    color: #ffffff;
}

.submenu .btn-tag:hover {
    background: #FFE2DE;
    color: #150091;
}

.submenu .btn-submenu {
    width: 100%;
    background-color: white;
    color: #000074;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: normal;
    padding: 12px 16px 12px 16px;
}

.submenu .btn-submenu:after {
    content: url('/static/Vector2.png');
    height: 7px;
    float: right;
}

.submenu .domaine-title {
    font-family: 'Marianne', Arial, sans-serif;
    color: #000074;
    font-weight: 700;
    font-size: 20px;
    background-color:#F5F5FF;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    height: 62px;
    margin-bottom: 24px;
}

.submenu .domaine-title:before {
    content: url('/static/Back.png');
    float: left;
    padding-right: 8px;
}

.submenu .sousdomaine-title {
    font-family: 'Marianne', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}